/* Portfolio.css */

.container {
  margin-top: -13rem;
  

}
.sec-faq{
  margin-top: -33rem;
}
.faq-item {
  margin-bottom: 1.5rem;
  border: 1px solid orange;
  padding: 1rem;
  
}
.c-blur1{
  top: 1rem;
  left: 8rem;
}
.faq-item h3 {
  margin: 0;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.faq-item.active p {
  display: block;
}

.faq-item h3::after {
  content: "+";
}

.faq-item.active h3::after {
  content: "-";
}
