.dos-and-donts {
  display: flex;
  justify-content: space-between;
  margin-top: 13rem;
  margin-bottom: 18rem;
}

.dos,
.donts {
  flex: 1;
  position: relative;
}
.donts-list{
  margin-left: 4rem;
}
.dos::before {
  content: "";
  width: 1px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.donts-list h3, .dos-list h3
{
  margin: 0;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 44px;
  justify-content: space-between;
  align-items: center;
}

.span-text{
  color: orange;
}